/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

/* Mobile Responsive CSS */

@media only screen and (max-width: 480px) {
  /* banner section responsive css */
  .content-wrapper {
    flex-direction: row-reverse;
    /* text-align: center; */
  }
  .content-wrapper .left-content h2,
  .content-wrapper .left-content h2 span {
    font-size: 28px;
    line-height: 35px;
  }
  .content-wrapper .left-content p {
    font-size: 14px;
    line-height: 24px;
  }
  .section-heading h2 {
    padding: 15px 0;
    font-size: 25px;
  }
  .course-card {
    text-align: center;
  }
  .course-card h2 {
    font-size: 18px;
    line-height: 28px;
  }
  .course-card h4 {
    font-size: 14px;
    line-height: 20px;
    margin: 8px 0;
  }
  .course-btn {
    padding: 8px 15px;
  }
  .default-btn {
    font-size: 14px;
  }
  .course-card .card-footer .left img,
  .right img {
    width: 20px;
    height: auto;
  }
  .course-card .card-footer .left span,
  .right span {
    font-size: 12px;
    line-height: 20px;
  }
  .testimonial-content {
    flex-direction: column;
    text-align: center;
  }

  .testimonial-content img {
    margin-right: 0;
    margin-bottom: 15px;
  }

  .testimonial-content p {
    width: 100%;
    margin-left: 0;
  }
  .menu-list li {
    margin: 0;
    padding: 0;
  }
  .menu-list li a {
    font-size: 13px;
  }
  .scrollTop {
    display: block;
  }
}
